<app-header [pageTitle]="title"></app-header>

<form [formGroup]='loginForm' (ngSubmit)='onSubmit()'>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required formControlName="username">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required formControlName="password">

    <button type="submit" [disabled]="!loginForm.valid">{{loginForm.valid}}Login</button>
  </div>

</form>
